{{> head}}
{{> navbar }}

<div class="row" >

    <div class="col-8" >
        <h1>{{capitalizar 'hola mundo'}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores veritatis nemo corporis mollitia consequatur fugiat totam enim sapiente exercitationem sint. Velit cum officiis quaerat culpa non magni nostrum. Non, sunt?</p>
    </div>

    <div class="col-4" >
        <img src="assets/img/code.png" class="img-thumbnail">
    </div>

</div>

{{> footer}}